*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body{
  font-family: "Open Sans", sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 0 20rem
}

.logo-container{
  height: 5rem;
  width: 5rem;
  background-image: url(../src/assets/img/dc-logo.png);
  background-size: contain;
  margin: 1rem 0 1rem 0;
}

nav{
  display: flex;
  align-items: center;
}

ul {
  font-size: small;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-right: 1.5rem;
  list-style-type: none;
}

.blue{
  color: #0282f9;
}

main {
  padding: 3rem 20rem 3rem 20rem;
  background-color: black;
  color: white;
  font-size: xx-large;
  font-weight: 600;
}

.blue-strip{
  background-color: #0282f9;
  padding: 0 20rem;
  display: flex;
  justify-content: space-around;
  color: white;
}

.strip-image{
  height: 65px;
  width: 65px;
  margin-right: .5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.strip-img-background-one{
  background-image: url(../src/assets/img/buy-comics-digital-comics.png);
}

.strip-img-background-two{
  background-image: url(../src/assets/img/buy-comics-merchandise.png);
}

.strip-img-background-three{
  background-image: url(../src/assets/img/buy-comics-subscriptions.png);
}

.strip-img-background-four{
  background-image: url(../src/assets/img/buy-comics-shop-locator.png);
}

.strip-img-background-five{
  margin-top: 2rem;
  background-image: url(../src/assets/img/buy-dc-power-visa.svg);
}

.strip-object{
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-top{
  position: relative;
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

.footer-top-left{
  height: 100%;
  width: 50%;
}

.footer-list{
  height: 100%;
  margin: 2rem 0 4rem 20rem;
  font-size: larger;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  width: 40%;
}

.footer-list-inner{
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  color: #959595;
  margin-bottom: 1rem; 
}

.footer-top-right{
  position: absolute;
  top: -110px;
  right: 0;
  background-image: url(../src/assets/img/dc-logo-bg.png);
  height: 580px;
  width: 580px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin-right: 20rem;
}

.footer-bottom{
  z-index: 300;
  height: 100px;
  background-color: #303030;
}

